<div class="container-fluid">

   <div class="header">
      <a class="logo"> <span class="glyphicon glyphicon-cloud"></span></a><a class="title">datum </a>
      <div class="header-right">
        <a class="active" href="#home">Whitepaper</a>
        <a href="#Developer">Developer</a>
        <a href="#App"> App</a>
        <a href="#Buytokens"> Buytokens </a>
        <button type="button" class="btn btn-info"> Install </button>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="para">
         
          <p >Blockchain Data Storage<br> and Monetization </p>
          <h6> Datum is designed for innovators who empower individuals</h6>
       </div>
      
    
       <button class="token">BlockExplorer</button>
       <button class="tokens">Buy Dat Tokens</button>
    
      </div>

    </div>

   


  
   
  
 

  <div class="data">
 <h1>why  decentralized data?</h1>
 </div>


  
</div>

<router-outlet></router-outlet>